{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th>Produit</th>
            <th>Quantité</th>
            <th>Prix</th>
            <th>Total</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            <tr class="product-row">
                <td>{{ item.product.name }}</td>
                <td>{{ item.amount }}</td>
                <td>{{ item.product.price }}€</td>
                <td>{{ item.amount * item.product.price }}€</td>
                <td>
                    <a href="{{ path('app_shop_deletefromcart', {slug: item.product.slug}) }}" class="btn btn-danger">X</a>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="3"></td>
            <td>Total: </td>
            <td class="total">{{ total }}€</td>
        </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between">
        <a href="{{ path('app_shop_index') }}" class="btn btn-primary">Retourner au magasin</a>
        <a href="{{ path('app_shop_emptycart') }}" class="btn btn-danger">Vider le panier</a>
    </div>
{% endblock %}
